.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;

    background-image: url(../../assets/Images/laptop-background.jpg);
    background-position: center ;
    background-size: cover;

    &__title {
        color: rgba(255,255, 255,0.85);
        font-weight: bold;
    }
}